:root {
    --highlight-color:rgb(221, 30, 12);
    --highlight-color-dark:rgb(136, 22, 12);
    --border-radius: 10px;
}

html {
    font-size: 17px;
}

body {
    margin: 0;
    padding: 0;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#1d1d1f;
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

a {
    color: inherit;
    text-decoration: none;
  }

a:hover{
    text-decoration: underline;
    color:var(--highlight-color);
}


.navbar{
    width:100%;
    height: 60px;
    background-color: #c8c8ca;
}

.container {
    width: 90%;
    max-width: 900px; /*980px;*/
    margin: 0 auto;
    margin-top: 80px; /*60px*/
    margin-bottom: 120px;
}

.section{
    margin-top: 16px; /*10px*/
    margin-bottom:64px;
}

.button-link{
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: var(--border-radius);
    background-color: #f0f0f2;
    border: none;
    height: 40px;
    width: 100%;
    font-size:14px;
    font-weight: 700;
    padding: 0;
    margin:8px 0;
}

.button-link::before{
    content: "\2197\00a0\00a0";
}

.button-link:hover{
    background-color: #dadada;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
  margin-top: 32px;
}

.button-link {
  flex: 1 1 22%;
  text-align: center;
}


.text-link{
    color: var(--highlight-color-dark);
}

.email:hover::after{
    content: ":  at usi.ch";
}

.imagecontainer{
    width:100%;
    background-color: #f0f0f2;
}


.image img {
    display: block;
    width: 100%;
}
.image-description{
    margin-top:16px;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    color: #6e6e73;
}

h1{
    font-size: 48px;
    line-height: 1.083;
    font-weight: 700;
    margin: 0;
    color: var(--highlight-color);
}
h2{
    font-size: 32px;
    color: var(--highlight-color);
}

p {
    color: rgb(29, 29, 31);
    direction: ltr;
    display: block;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    text-align: left;
    margin-top: 0px;
    /* margin-bottom: 27px; */
}



.headline{
    display: flex;
    align-items: flex-end;
    gap: 16px;
}

.headline-name{
    min-width: 60%;
    flex-grow: 1;
}

.headline-name p {
    margin-bottom: 0;
}


.headline-image {
    display: block;
    width: min(30%, 204.75px);
    border-radius: var(--border-radius);
    object-fit: contain;
    flex-shrink: 0;
}

.headline-text-narrow {
    display:none
}

.headline-text-wide { 
    margin-top: 16px;
}

@media (max-width: 680px) {
  .headline-text-narrow{
    display: block;
    margin-top: 16px;
  }

  .headline-text-wide{
    display: none;
  }
}
@media (max-width: 512px) {
  h1 {
    font-size: 36px;
  }
}



.publication{
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.publication p {
    margin-bottom: 0px;
}
.publication-teaser {
    width: 30%;
    border-radius: var(--border-radius);
}

.publication-description{

    width: 70%;
    padding-left: 16px;
    font-size: 1rem;
}
.publication-title {
    font-size: inherit;
    margin-top: 0;
    margin-bottom: 0px;
}
.publication p.publication-authors {
    margin-bottom: 8px;
}
.publication-venue {
}
.publication-award{
    margin-top:0px;
}
.publication-summary{
    margin-top: 16px;
}
.author-highlight{
    text-decoration: underline;
}
.publication-link{
    margin-top: 16px;
}
.publication-link::before{
    content: "\2197\00a0\00a0";
}
.eyebrow{
    color: #6e6e73;
    text-transform: uppercase;
    font-weight: bold;
    margin-top:8px;
    font-size: 14px;
}


.publication {
    display: flex;
    align-items: flex-start;
  }
  
  .image-container {
    margin-right: 10px;
  }
  
  .text-container {
    align-items: center;
  }

  
  @media (max-width: 576px) {
  .container {
    flex-direction: column;
    padding: 10px;
  }

  .button-link {
    flex: 1 1 48%;
    margin-left: 0;
  }
}